td { position: relative}
td.hypot span {position: relative; top: -100px; right: 10px}

button { display: block;
         background-color: "orange";
         width: 200px;
         height: 50px;
         margin: 0px auto;}

input{ font-size: 1.25em; height: 24px; width: 50px;}
