<!DOCTYPE html>
<html ng-app="trig">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="TrigController">
      <header></header>
      <div class="container">
        <div class="block instructions">
          <h3> Enter sides a and b of the triangle,
               and we'll calculate the hypotenuse. </h3>
        </div>
        <table border=1>
          <tr>
            <td rowspan="2"> Side A: <input type="number" ng-model="sideA"></td>
            <td class="hypot">

              <img src="images/tri.png" />
              <span>hypotenuse:  {{hypotenuse}}</span>
            </td>

          </tr>
          <tr>

            <td> Side B: <input type="number" ng-model="sideB"> </td>
          </tr>
          <tr class="button_row">
            <td colspan="2"><button type="button" ng-click="calculate()">CALCULATE!</button></td>
          </tr>
        <table>

      </div>
      <footer></footer>
  </body>
</html>
